
body {font-family: 'Gowun Dodum', sans-serif;
    background-image: url("https://www.seekpng.com/png/full/206-2066102_how-to-draw-rainbow-drawing.png");
    background-size: cover;

}

h1{
    color: white;
    text-align: center;
    font-size: 35px;
}

.flex-container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10%;
}

.card{
    width: 140px;
    height: 140px;
    margin: 10px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.front,
.back{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    border: 1px solid black;
    border-radius: 15px;
    position: absolute;

}
.front{
    background-color: lavender;
    z-index: 2;
    backface-visibility: hidden;
}
.back{
    background-color: red;
    z-index: 1;
    transform: rotateY(180deg)
}

.container :hover.card{
    transform: rotateY(180deg);
}


.container{
    perspective: 1000px;
}




