body {
    height: 100vh;
    margin: 0;
    background-color: black;
}

.space {
    background-image: url("https://stepik.org/media/attachments/lesson/452681/space.png");
    background-position: center;
    background-size: 80vw 100vh;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.planet-area {
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
}

.planet {
    position: absolute;
    height: 50vh;
    bottom: 0;
    left: 10vw;
}

.rocket {
    height: 25vh;
    position: relative;
    bottom: -50vh;
    left: 23vh;
    transform: rotate(20deg);
}

.control-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 52vh;
    width: 40vw;

    background-color: yellow;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);

    position: absolute;
    left: 80vh;
    top: 40vh;
}
.control-panel__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    background:
            radial-gradient(black 15%, transparent 16%) 0 0,
            radial-gradient(black 15%, transparent 16%) 8px 8px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
            radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    height: 50vh;
    width: 39vw;
}

.password {
    width: 50%;
    margin-left: 12%;
    color: yellow;
    border-color: yellow;
}
.ok-button {
    width: 10%;
    margin-right: 20%;
    background-color: yellow;
}

.check-buttons {
    display: flex;
    align-items: center;
    width: inherit;
    justify-content: space-evenly;
}

.levers {
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-evenly;
}

.lever {
    transform: rotate(-90deg);
    width: 100px;
}

.launch {
    align-items: flex-end;
    background-color: red;
    border-radius: 8px;
    width: 100px;
}